<section id="miembros">
    <h1 class="title">Nuestro Equipo</h1>
    <div class="miembro-lista">
        {{#each miembros}}
            <div class="miembro">
                <h2 class="miembro-nombre">{{nombre}} {{apellidos}}</h2>
                <p class="miembro-titulo">{{titulo}}</p>
                <p><strong>Tecnologías:</strong></p>
                <ul class="miembro-tecnologias">
                    {{#each tecnologias}}
                    <li>{{nombre}}</li>
                    {{/each}}
                </ul>
                <a href="/miembros/{{idMiembro}}" class="button">Ver perfil completo</a>
            </div>
        {{/each}}
    </div>
</section>