<section id="proyectos">
    <h1 class="title">Nuestros Proyectos</h1>
    <div class="proyecto-lista">
        {{#each proyectos}}
        <div class="proyecto">
            <h2 class="proyecto-titulo">{{titulo}}</h2>
            <p class="proyecto-descripcion">{{descripcion}}</p>
            <p><strong>Cliente:</strong> {{cliente}}</p>
            <p><strong>Tecnologías:</strong> {{tecnologias}}</p>
            <p><strong>Fecha:</strong> {{diaInicio}} - {{diaFin}}</p>
        </div>
        {{/each}}
    </div>
</section>