<h1>Nuestros Proyectos</h1>
{{#each proyectos}}
    <div class="proyecto">
        <h2>{{titulo}}</h2>
        <p>{{descripcion}}</p>
        <p>Cliente: {{cliente}}</p>
        <p>Tecnologías: {{tecnologias}}</p>
        <p>Fecha: {{diaInicio}} - {{diaFin}}</p>
    </div>
{{/each}}